/* 
 * absolute:
 * Absolutely position this within its parents. Nearest parent.
 *
 * relative:
 * Gives us an opportunity to use top, left, bottom and right values.
 */

body {
	margin: 0;
}

.wrap {
	width: 800px;
	margin: auto;
	background: #e3e3e3;
	height: 1000px;

	position: relative;
	/* top: 20px; */
}

.box {
	background: orangered;
	width: 70px;
	height: 70px;
	margin: auto;

	position: absolute;
	top: 30px;
	left: -35px;
	/* bottom: ; */
	/* right: 60px; */
}