body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e3e3e3;
}

.container {
	margin: auto;
	width: 50%;
}

blockquote {
	margin-left: 0;
	text-align: center;
	border: 1px solid white;
}