body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	width: 600px;
	margin: 20px auto;
}

a {
	color: #276056;
	font-size: 14px;
}

a:hover, .post_info a:hover {
	color: black;
}

p {
	font-size: 14px;
	line-height: 21px;
}

article img {
	float: left;
	margin-right: 30px;
}

article h2 {
	font-size: 39px;
	line-height: 43px;
	margin: 0;
	letter-spacing: -1px;
}

.continue {
	float: right;
}

.continue:before{
	content: '(';
}

.continue:after{
	content: ')';
}

.post_info {
	background: #f3f3f3;
	color: #999;
	padding: 3px;
	font-size: 14px;
	float: left;
}

.post_info a {
	color: #999;
	text-decoration: none;
}

.preview {
	float: right;
	width: 370px;
}

.meta {
	margin: 0 0 10px;
	padding: 0;
}

.meta a, .post_info {
	font-style: italic;
}

.meta li {
	display: inline;
}

.meta li:after {
	content: '\\';
	padding: 0 2px;
	color: #999;
}

.meta li:last-child:after {
	content: '';
}

ul.meta {
	padding-left: 0;
}

.body {
	clear: both;
	color: #575757;
}